body {
  font-family: Arial, sans-serif;
  background: #0f172a;
  color: white;
  text-align: center;
}

.container {
  max-width: 500px;
  margin: auto;
  padding: 20px;
}

.search-box input {
  padding: 10px;
  width: 70%;
  border-radius: 5px;
  border: none;
}

.search-box button {
  padding: 10px;
  margin-left: 5px;
  background: #38bdf8;
  border: none;
  cursor: pointer;
}

.recent button {
  margin: 5px;
  padding: 8px;
  background: #1e293b;
  color: white;
  border: none;
  cursor: pointer;
}

.weather {
  margin-top: 20px;
  background: #1e293b;
  padding: 15px;
  border-radius: 10px;
}